

<div class="container-fluid">
  <div class="row">
    <ng-container *ngIf="role === 'Admin'">
      <div class="home">
        <header>
            <div class="logo">
                <img src="assets/onlinepharmacy.png" alt="OnlinePharmacy" class="onlinepharmacy-image">
                <span class="medi-pharm-text">MediPharm</span>
            </div>
            
            <nav>
              <ul>
                <li><a routerLink="/dashboard">Home</a></li>
                <li><a routerLink="/product-admin">Medicines</a></li>
                <li><a routerLink="/user-details">Users</a></li>
               
                <li><a  (click)="logout()">SignOut</a></li>
              </ul>
            </nav>
        </header>
    </div>
 
    </ng-container>

    <ng-container *ngIf="role === 'User'">
      <div class="home">
        <header>
            <div class="logo">
                <img src="assets/onlinepharmacy.png" alt="OnlinePharmacy" class="onlinepharmacy-image">
                <span class="medi-pharm-text">MediPharm</span>
            </div>
            
            <nav>
              <ul>
                <li><a routerLink="/dashboard">Home</a></li>
                <li><a routerLink="/product">Medicines</a></li>
                <li><a routerLink="/cart">Cart</a></li>
                
                <li><a routerLink="/about">About Us</a></li>
                <li><a  (click)="logout()">SignOut</a></li>
              </ul>
            </nav>
        </header>
    </div>

    </ng-container>

    <div class="inside-img">
      <div class="hero">
        <h1>Welcome {{fullName}}</h1>
        <p>Your Trusted Source for Healthcare Products</p>
        <a routerLink="/product" class="cta-button">Shop Now</a>
      </div>
    </div>

    <div class="scroll-container">
      <img src="../assets/img2.jpg">
      <img src="../assets/img4.jpg">
      <img src="../assets/img5.jpg">
    </div>

<app-feedback-view></app-feedback-view>
    <footer class="footer">
      <div class="about">
        <h3>About MediPharm Pharmacy</h3>
        <p>Learn more about our mission and values.</p>
        <a href="/about-us">About Us</a>
      </div>
      <div class="quick-links">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="/faq">FAQ</a></li><br>
          <li><a href="/feedback">Feedback</a></li>
          <li><a href="/blogs">Blogs</a></li>
          <li><a href="/career">Career</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
      </div>
      <div class="mobile-app">
        <h3>Online Medicine App</h3>
        <p>Download our mobile app for easy access.</p>
        <a href="/app-download">Download Now</a>
      </div>
      <div class="products-categories">
          <h3>Products Categories</h3>
          <ul>
            <li><a href="/brands">View All Brands</a></li>
            <li><a href="/medicines">View All Medicines</a></li>
            <li><a href="/health-devices">Health Devices</a></li>
            <li><a href="/nutrition">Nutrition</a></li>
            <li><a href="/supplements">Supplements</a></li>
          </ul>
        </div>
        <div class="footer-line"></div>
        <div class="find-us">
          <h3>Find Us On</h3>
          <div class="social-icons">
            <a href="https://www.facebook.com"><img src="assets/facebook.png" alt="Facebook"></a>
            <a href="https://www.youtube.com"><img src="assets/youtube.png" alt="Youtube"></a>
            <a href="https://www.linkedin.com"><img src="assets/linkedin.png" alt="LinkedIn"></a>
          </div>
        </div>
        <p style="color:  #007065; text-align: center; bottom: 0; width: 100%; padding: 10px 0;">
          &copy; 2023 MediPharm. All Rights Reserved.
        </p>
        
      </footer>

   
      

  </div>
</div>



