//Navbar
.home {
  
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; 
    background-color:  #007065;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
  }
  
  .onlinepharmacy-image {
    width: 70px; 
    margin-right: 10px; 
  }
  
  .medi-pharm-text {
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
  }
  nav {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin: 0 20px;
    width: 32px;
    height: 32px;
    transition: transform 0.2s;
  }
  
  .icon:hover {
    transform: scale(1.1); 
  }
  nav a{
    color: whitesmoke;
    text-decoration: none;
  }
  ul {
    list-style: none;
    display: flex;
  
    
  }
  
  ul li {
    margin-right: 20px;
    
  }
//footer
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  .footer {
    background-color: #c7ecc7; 
    padding: 20px 0; 
    text-align: center;
  }
  
  /* Sub-div Styles */
  .footer div {
    margin: 20px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
  }
  
  /* Header Styles */
  .footer h3 {
    font-size: 18px;
    color: #005040; 
  }
  
  /* Paragraph Styles */
  .footer p {
    font-size: 14px;
    color: #333; 
    margin: 10px 0;
  }
  
  /* Links Styles */
  .footer a {
    text-decoration: none;
    color: #007650; 
    display: block;
    margin-top: 5px;
    transition: color 0.3s;
  }
  
  .footer a:hover {
    color: #005040; 
  }
  
  /* Quick Links List Styles */
  .footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer li {
    margin: 10px 0;
    margin:10px;
  }
  
.footer-line {
    border: 1px solid #005040; 
    margin: 20px 0;
  }
  
.find-us {
    text-align: right; 
    margin-top: 20px;
  }
  
  .find-us h3 {
    font-size: 18px;
    color: #005040; 
  }
  
  .social-icons {
    display: flex; 
    align-items: center; 
  }
  
  .social-icons a {
    text-decoration: none;
    margin-right: 10px; 
  }
  
  .social-icons img {
    width: 20px; 
  }
  
  .footer-line {
    border: 0;
    border-top: 1px solid #005040;
    margin: 10px 0;
  }
  
 .find-us {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;

  }
  
  .find-us h3 {
    color: #005040;
    margin-right: 10px;

  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icons a {
    margin-right: 10px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .about {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width:fit-content;
    margin: 0 auto;
    background-color: #f7f7f7;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  h2 {
    color: #007065;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .section {
    margin-bottom: 30px;
  }
  h3{
  font-weight: bold;
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
  color: black;
}

// li {
//     color: black;
//     line-height: 1.6;
//     margin-bottom: 6px;
//   }
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  .faq-container {
    max-width:1485px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .faq-item {
    margin-bottom: 20px;
  }
  
  .question {
    font-size: 18px;
    color: #333;
  }
  
  .answer {
    font-size: 16px;
    color: #666;
  }
  
  
  