<div class="home">
    <header>
        <div class="logo">
            <img src="assets/onlinepharmacy.png" alt="OnlinePharmacy" class="onlinepharmacy-image">
            <span class="medi-pharm-text">MediPharm</span>
        </div>
        
        <nav>
          <ul>
            <li><a routerLink="/dashboard">Home</a></li>
            <li><a routerLink="/product">Medicines</a></li>
            <li><a routerLink="/cart">Cart</a></li>
            
            <li><a routerLink="/about">About Us</a></li>
            <li><a  (click)="logout()">SignOut</a></li>
          </ul>
        </nav>
    </header>
  </div>


  <div class="card mb-3" style="width: 100%;">
    <div class="row no-gutters" *ngFor="let u of users ">
        <div *ngIf="u.userName==fullName">
      <div class="col-md-4" style="float: right; height: 200px; width: 150px;"  >
        <img src="https://tse1.mm.bing.net/th?id=OIP.4nSiPjYiNOlvj6KJiw2UTAAAAA&pid=Api&P=0&h=180"  alt="Product Image" class="card-img-top" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title ">UserName : {{ u.userName }}</h5>
            <p class="card-text ">FirstName : {{ u.firstName }}</p>
            <p class="card-text ">LastName : {{ u.lastName }}</p>
            
            <div class="card-text ">
              Email Id : {{ u.email  }}
            </div>

        </div>
    </div>
      </div>
    </div>
  </div>

  
  
  <footer class="footer">
    <div class="about">
      <h3>About MediPharm Pharmacy</h3>
      <p>Learn more about our mission and values.</p>
      <a href="/about-us">About Us</a>
    </div>
    <div class="quick-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="/faq">FAQ</a></li><br>
        <li><a href="/feedback">Feedback</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/career">Career</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
      </ul>
    </div>
    <div class="mobile-app">
      <h3>Online Medicine App</h3>
      <p>Download our mobile app for easy access.</p>
      <a href="/app-download">Download Now</a>
    </div>
    <div class="products-categories">
        <h3>Products Categories</h3>
        <ul>
          <li><a href="/brands">View All Brands</a></li>
          <li><a href="/medicines">View All Medicines</a></li>
          <li><a href="/health-devices">Health Devices</a></li>
          <li><a href="/nutrition">Nutrition</a></li>
          <li><a href="/supplements">Supplements</a></li>
        </ul>
      </div>
      <div class="footer-line"></div>
      <div class="find-us">
        <h3>Find Us On</h3>
        <div class="social-icons">
          <a href="https://www.facebook.com"><img src="assets/facebook.png" alt="Facebook"></a>
          <a href="https://www.youtube.com"><img src="assets/youtube.png" alt="Youtube"></a>
          <a href="https://www.linkedin.com"><img src="assets/linkedin.png" alt="LinkedIn"></a>
        </div>
      </div>
      <p> &copy; 2023 MediPharm. All Rights Reserved.</p>
     
    </footer>